
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {

}

::-webkit-scrollbar * {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(166, 164, 164, 0.65);
  outline: none;
  border-radius: 44px;
}